.swiper-container {
  width: 100%;
  height: 100%;

  border-bottom:solid 6px $theme-bleu;

  box-shadow: 0 0 20px 0 rgba(0,0,0,1);
}
.swiper-slide {
  position:relative;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  height:300px;

  img {
    position:absolute;
    top:0;
    left:0;

    z-index:-1;

    opacity:0.5;
  }
}

.swiper-pagination-bullet {
  background-color: $theme-rose;
  opacity:1;
}

.swiper-pagination-bullet-active {
   background-color: $theme-bleu;
 }